//VARIABLES:
//26.5 * 26.5 px per block:
$block-width: .5px;
$block-height: .5px;

//MIXINS:
@mixin flex-center{
	display: flex;
	align-items: center;
	justify-content: center; 
}

//CSS:
html{
	font-size: 62.5%;
}
body{
	background-image: linear-gradient(to right, #536976, #292E49); 
}
.app{
	padding-top: 8%;
}
.game{
	position: relative;
	margin: 0 auto;
	border: 3px outset white;
	border-radius: 3px;

	&__header{
		display: flex;
		justify-content: space-around;
		border: 3px outset #F0F0F0;
		background-color: #ADADAD;
		padding: 40px 0;

		&__counter{      
			width: 50px;
			height: 40px;      
			font: 28px arial, sans-serif;
			text-align: center;
			background-color: black;
			color: red;
			border: 2px inset #808080;

			@include flex-center; //align the text 
		}
		&__icon{
			font: 27px arial, sans-serif;
			color: yellow;
			padding: 0px 10px;
			background-color: #C0C0C0;
			border: 3px outset white;
			height: 42px;      
			cursor: pointer;
			text-shadow: 1px 1px 6px #8c8c8c;

			@include flex-center; //align the text          

			&:active{
				border: 3px inset #d0d0d0;
			}

		}
	}

	&__map{
		&__row{
			display: flex;

			&__block{
				width: $block-width;
				height: $block-height;
				background: #ADADAD;
				border: 3px outset;        
				border-color: #F0F0F0;
				padding: 10px;

				&--bombStillCovered{
					background: darkred;
				}
				&--flag{
					color: red;
				}

				&--revealed{
					border: 3px inset #d0d0d0;

					&--1{
						color: #0000E3;
					}
					&--2{
						color: #006000;
					}
					&--3{
						color: #EA0000;
					}
					&--4, &--5, &--6, &--7, &--8{
						color:#000093;
					}
					&--B{            
						background: red;
					}
				}

				&:active{
					border: 3px inset #d0d0d0;
				}

				@include flex-center; //align the text
			}
		}
	}
}
